apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: my-service
  name: my-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-service
  strategy: {}
  template:
    metadata:
      labels:
        app: my-service
    spec:
      containers:
      - image: nginx:1.15.1
        name: nginx
        readinessProbe:
          httpGet:
            path: /readyz
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 3
          failureThreshold: 3
        resources:
          requests:
            cpu: "100m"
            memory: "100Mi"
          limits:
            cpu: "200m"
            memory: "200Mi"